@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|lato:300,900');

// Set your brand colors
$purple: #8A4D76;
$green: #00cc86;
$light-green: #bafacd;
$light-red: #ffe5e3;
$red: #dc3900;
$dark: rgb(22,25,41) ;
$light-purple: rgb(159,104,235);
$light-grey: #f5f5f5;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: $purple;
$link: $purple;


// Update some of Bulma's component variables
$body-background-color: white;
$control-border-width: 2px;
$input-border-color: $light-grey;
$input-shadow: none;
